html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  left: 50%;
  transition: all .5s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  transform: rotate(-5deg);
  position: absolute;
  left: 100px;
  top: 100px;
}

.polaroid:nth-child(2) {
  transform: rotate(5deg);
  position: absolute;
  left: 200px;
  top: 150px;
  z-index: 100;
}

.polaroid:nth-child(3) {
  transform: rotate(15deg);
  position: absolute;
  left: 300px;
  top: 200px;
}


.polaroid:hover {
  transform: rotate (0);
  z-index: 100;
}
